<div class="row">
  <div class ="col col-lg-4"></div>
  <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
    <h2>voici vos contacts</h2>
  </div>
  <div class="col col-lg-4"></div>
</div>

<app-contact *ngFor="let contact of contacts; let  i = index"
             [nom] = "contact.nom"
             [prenom]="contact.prenom"
             [dateNaissance]="contact.date_naissance"
             [id] = "contact.id"
             [index]="i"
             [tab_adresse]="contact.adresses"></app-contact>
<button class="mat-fab-bottom-right" mat-fab (click)="AddContact()">
  <mat-icon class="icon" >add</mat-icon>
</button>
