<div class="row">
  <div class ="col col-lg-4"></div>
  <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
    <h2>voici vos contacts</h2>
  </div>
  <div class="col col-lg-4"></div>
</div>

<app-contact *ngFor="let contact of contacts; let  i = index"
             [id]="contact.id"
             [nom] = "contact.nom"
             [prenom]="contact.prenom"
             [dateNaissance]="contact.date_naissance"
             [index]="i"
             [tab_adresse]="contact.adresses"
             [contactSubscription]="this.contactSubscription"></app-contact>




<div style="z-index:5; position : fixed;align-self : end;bottom : 10%; margin-bottom : 68px;">

  <button  class="mat-fab-bottom-right" style="background-color: #F2F2F2" mat-fab (click)="AddContact()">
    <mat-icon class="icon"  style="color: #D95F69">add</mat-icon>
  </button>
</div>

